<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mes Projets</title>
</head>
<body>

    <h1>{{ project.name }}</h1>

    <p>{{ project.description }}</p>

    <a href="{% url 'project_list' %}">Retour à la liste</a>
    <h2>Tâches à réaliser :</h2>
    <ul>
        {% for task in project.tasks.all %}
            <li>
                {{ task.title }} 
                
                (Statut : {{ task.status }})
            </li>
        {% empty %}
            <li>Aucune tâche n'a encore été créée pour ce projet.</li>
        {% endfor %}
    </ul>

</body>
</html>